<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" placeholder="Enter Title" minlength="5" required ngModel #title="ngModel">
            <mat-error *ngIf="title.invalid">Please Enter A Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea rows="6" name="content" matInput placeholder="Enter Content" ngModel #content="ngModel" minlength="5"></textarea>
            <mat-error *ngIf="content.invalid">Please Enter At Least 5 characters of content.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Save Post</button>
    </form>
</mat-card>